doctype html
html
  head
    meta(http-equiv='refresh', content='0;url=pindex.html')
    title Test
    script(language='javascript').
      window.location.href = "index.html"
  body
    | Go to 
    a(href='index.html') index.html