<!DOCTYPE html>
<html lang="en" ng-app="TestTaskWow" ng-controller="Main">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <!-- Bootstrap -->
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container limit">

    <ul class="nav navbar-nav">
      <a class="navbar-brand" href="">taskon</a>
      <li ui-sref='task' ng-click="act($element)"><a ng-class="{'active-nav':currenState == 'task'}" href="">Задания</a>
      </li>
      <li ui-sref='finance'><a ng-class="{'active-nav':currenState == 'finance'}" href="">Финансы</a></li>
      <li ui-sref='company'><a ng-class="{'active-nav':currenState == 'company'}" href="">Компания</a></li>
      <li ui-sref='statistics'><a ng-class="{'active-nav':currenState == 'statistics'}" href="">Статистика</a></li>
    </ul>

    <ul class="nav navbar-nav  navbar-right nav-right-сustom">
      <li class="balance"><a>Баланс <span class="">345 234,90</span> <span class="glyphicon glyphicon glyphicon-rub"
                                                                           aria-hidden="true"></span></a></li>
      <li class="dropdown dropdown-alert-custom">
        <a href="#" class="dropdown-toggle notifications" data-toggle="dropdown">
          <div class="notifications-diod"></div>
          <img class="one" src="images/notifications.png">
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Уведомление 1</a></li>
          <li><a href="#">Уведомление 2</a></li>
          <li><a href="#">Уведомление 3</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle user-profile" data-toggle="dropdown">Никита Ласточкин <b
          class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Настройки профиля</a></li>
          <li><a href="#">Запрос</a></li>
          <li><a href="#">Что-то еще</a></li>
          <li class="divider"></li>
          <li><a href="#">Выход</a></li>
        </ul>
      </li>
      <li>
        <a class="faq-icon" href="">
          <img src="images/faq.png" alt="">
        </a>
      </li>

    </ul>


  </div>
</nav>


<div class="container-fluid task-container">
  <ui-view ng-cloak></ui-view>
</div>
<!-- AngularJS -->
<script src="bower_components/angular/angular.js"></script>
<!-- Angular UI Router -->
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<!-- Angular Bootstrap -->
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<!-- AngularJS SC -->
<script src="app/app.js"></script>
<script src="app/sections/main.js"></script>
<!-- AngularJS directives -->

<!-- AngularJS controllers -->
<script src="app/sections/company/controllers/company.js"></script>
<script src="app/sections/finance/controllers/finance.js"></script>
<script src="app/sections/statistics/controllers/statistics.js"></script>
<script src="app/sections/task/filters/propertyFilter.js"></script>
<script src="app/sections/task/controllers/task.js"></script>


<!-- AngularJS services -->
<script src="app/services/httpReq.js"></script>


<!-- AngularJS config -->
<script src="app/config.js"></script>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>