<div class="container limit">

    <div class="add-button-position">
        <div class="add-button"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path></svg></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Задания</h2>
        </div>
        <div class="col-md-12 task-cat">
            <span ng-class="{'task-selected':filterObj.state == 'new'}" ng-click="filterObj.state = 'new' " class="task-cat-item">Новые<span class="badge task-count task-count-active">{{tasksCount.new}}</span></span>
            <span ng-class="{'task-selected':filterObj.state == 'in'}" ng-click="filterObj.state = 'in' " class="task-cat-item">В работе<span class="badge task-count">{{tasksCount.in}}</span></span>
            <span ng-class="{'task-selected':filterObj.state == 'underConsideration'}" ng-click="filterObj.state = 'underConsideration' " class="task-cat-item">На рассмотрении<span class="badge task-count">{{tasksCount.underConsideration}}</span></span>
            <span ng-class="{'task-selected':filterObj.state == 'done'}" ng-click="filterObj.state = 'done' " class="task-cat-item">Выполнены<span class="badge task-count">{{tasksCount.done}}</span></span>
            <span ng-class="{'task-selected':filterObj.state == 'canceled'}" ng-click="filterObj.state = 'canceled' " class="task-cat-item">Отменены<span class="badge task-count">{{tasksCount.canceled}}</span></span>
            <span ng-class="{'task-selected':filterObj.state == 'draft'}" ng-click="filterObj.state = 'draft' " class="task-cat-item">Черновики<span class="badge task-count">{{tasksCount.draft}}</span></span>
        </div>
    </div>
</div>

<div class="container task-filter limit">

    <span class="custom-check"><input ng-model="searchText" type="text" class="form-control custom-input"  placeholder="Поиск по слову"></span>
    <span class="custom-check"><input ng-model="checkBoxState.personal" type="checkbox"><span>Персональный</span></span>
    <span class="custom-check"><input ng-model="checkBoxState.night" type="checkbox"><span>Ночное</span></span>
    <span class="custom-check"><input ng-model="checkBoxState.urgent" type="checkbox"><span>Срочное</span></span>


        <span class="custom-check">
          <li class="dropdown dropdown-user-filter">
              <a href="#" class="dropdown-toggle user-filter" data-toggle="dropdown">Никита Ласточкин <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a href="#">Настройки профиля</a></li>
                  <li><a href="#">Запрос</a></li>
                  <li><a href="#">Что-то еще</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Выход</a></li>
              </ul>
          </li></span>

    <div class="row task-table">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr class = "task-table-header">
                    <th>ID</th>
                    <th>Город</th>
                    <th>Название</th>
                    <th>Выполнить до</th>
                    <th>Сумма</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="task in tasks | filter:filterObj |filter:searchText |propertyFilter:checkBoxState">
                    <td class="table-cell-id">{{task.id}}</td>
                    <td class="table-cell-cityname">{{task.city.name}}</td>
                    <td class="table-cell-name">{{task.name}}</td>
                    <td class="table-cell-data">{{task.data}}</td>
                    <td class="table-cell-sum">{{task.sum}}<span class="glyphicon glyphicon glyphicon-rub" aria-hidden="true"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>